.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #f0f2f5;
}
.smiley {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
.plus {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
.message {
  width: 48rem;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-radius: 10px;
  padding-left: 2rem;
}
.message > input {
  border-color: transparent;
  font-size: 1rem;
  background-color: #f0f2f5;
}
.message > input:focus {
  outline: none;
}
.speaker {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
